<%= form_with(model: user, :class => 'w-25') do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email_address %>
    <%= form.email_field :email_address, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= link_to 'Back', occurrences_path, :class => 'btn btn-secondary text-light h-100 mt-5' %><%= form.submit :class => 'btn btn-primary text-light h-100 mt-5 mx-3' %>
  </div>
<% end %>