<%= form_with(model: occurrence, :class => 'w-50') do |form| %>
  <% if occurrence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(occurrence.errors.count, "error") %> prohibited this occurrence from being saved:</h2>

      <ul>
        <% occurrence.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :start_time %> <br>
    <%= form.datetime_select :start_time, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= link_to 'Back', occurrences_path, :class => 'btn btn-secondary text-light h-100 mt-5' %><%= form.submit :class => 'btn btn-primary text-light h-100 mt-5 mx-3' %>
  </div>
<% end %>
