<div class="container mt-5">
  <p id="notice"><%= notice %></p>

  <div>
    <strong>Name:</strong>
    <div class="form-control" disabled readonly><%= @occurrence.name %></div>
  </div>

  <div>
    <strong>Start time:</strong>
    <div class="form-control" disabled readonly><%= @occurrence.start_time %></div>
  </div>

  <%= link_to octicon("arrow-left", :height => 16, :fill => "white") + ' Back', occurrences_path, :class => "btn btn-secondary text-light mt-5 px-4" %>
  <%= link_to octicon("pencil", :height => 16, :fill => "grey") + ' Edit', edit_occurrence_path(@occurrence), :class => "btn btn-warning mt-5 mx-3 px-4" %>

</div>